* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#attack {
   display: none;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px orange;
    border: 1px solid black;
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

#controls {
    font-family: 'Lilita One', cursive;
    font-size: 40px;
    margin: 10px;
}

#controls > p {
    font-size: 60px;
}

#canvas1 {
    box-shadow:  inset 5px 5px 5px orange;
    border: 1px solid black;
}